<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="media/titleimage.png">
    <!-- Meta Data-->
    <title>Dictionary</title>
    <!-- Open Graph -->
    <link rel="canonical" href="https://app.wiredelta.com/" />
    <link rel="alternate" hreflang="en" href="https://app.wiredelta.com/en/" />
    <!-- Main style -->
    <link href="https://app.wiredelta.com/theme/diamond/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Theme style -->
    <link href="https://app.wiredelta.com/theme/diamond/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="https://app.wiredelta.com/style.css" rel="stylesheet" type="text/css" />
    <!-- jQuery 1.10.2 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://app.wiredelta.com/theme/diamond/js/bootstrap.min.js" type="text/javascript"></script>
    <script type='text/javascript' src='https://app.wiredelta.com/theme/diamond/js/sweetalert.min.js'></script>
    <script src="https://app.wiredelta.com/theme/diamond/js/app.js" type="text/javascript"></script>
    <script src="https://app.wiredelta.com/rainbow/master-js" type="text/javascript"></script>
    <script>var CANV_GAUGE_FONTS_PATH='https://app.wiredelta.com/theme/diamond/fonts';</script>
    <script src="https://app.wiredelta.com/theme/diamond/js/circle-progress.js"></script>  
    <script src="https://app.wiredelta.com/theme/diamond/js/pagespeed.min.js" type="text/javascript"></script>
    <link href="https://app.wiredelta.com/theme/diamond/css/www.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="https://app.wiredelta.com/theme/diamond/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body class="gradient-1body ho" data-spy="scroll" data-target="#scroll-menu" data-offset="50" id="top">
<section class="section secHead gradient-1">
    <div class="main-content">
        <!-- desktop-nav -->
        <div class="wrapper-header navbar-fixed-top">

            <div class="container main-header" id="header">

                <nav class="desktop-nav" role="navigation">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                        <a href="dictionary/dict_home/">
                            <div class="logo">
                                <span class="themeLogoText"><span class="themeLogoText">Dictionary</span></span>
                            </div>
                        </a>
                    </div>

                    <div class="turbo-nav collapse navbar-collapse" id="collapse-menu">
                        <ul class="main-nav">
                            <li></li><li><a href="" title="Coming Soon">Search an Alphabet</a></li><li></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false" title="Language"><i class="fa fa-language"></i>&nbsp; EN</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">English</a></li>
                                    </ul>
                                </li>
                                <li class="open_popup" id="hub-pop" ><a onclick="" title="See Below">Get In Touch</a></li>
                        </ul>
                    </div>

                </nav>

            </div>
        </div>
        <!-- desktop-nav b-ala-j-i -->

            <section class="headturbo" id="headturbo">
                <div class="headturbo-wrap" id="headturbo-wrap">
                    <div class="texture-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="headturbo-img pull-right hidden-xs">
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="headturbo-content">
                                    <h1 class="pulse" style="color:white">Want to Know the Meaning of a Word(s)/Phrase??</h1>
                                    <h2>Get it by Searching it Below</h2>
                                    <form class="turboform" method="POST" action="dictionary/word/">
                                    {% csrf_token %}
                                        <div class="input-group review">
                                            <input type="text" autocomplete="off" spellcheck="false" class="form-control review-input" placeholder="Type the Word(s)/Phrase? You Want to Search" name="words" />
                                            <span class="input-group-btn"> <button class="btn btn-green" type="submit" id="review-btn"><i class="fa fa-search"></i> SEARCH</button></span>
                                        </div>
                                    </form>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="headturbo" id="headturbo">
                <div class="headturbo-wrap" id="headturbo-wrap">
                    <div class="texture-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="headturbo-img pull-right hidden-xs">
                            </div>
                            <div class="col-md-12 text-center" style="color:white">
                                <div class="headturbo-content">
                                    <h3 class="pulse" style="text-align:left;">{{ words | capfirst }}</h3>
                                    {% if word_def == None %}
                                        <h4 style="text-align:left;">Sorry! This Word Doesn't Exists Yet in this Dictionary.</h4>
                                        <h4 style="text-align:left;">Please Get in Touch with Us and We'll Add this Word Soon.</h4>
                                    {% else %}
                                        {% for each_mean in word_def %}
                                        <h4 style="text-align:left;">{{ each_mean }}</h4>
                                        {% endfor %}
                                    {% endif %}
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>
           
</section>

</body>
</html>
